{% extends "base.html" %}

{% block content %}

    <h1>Build A Blog</h1>
    <hr />
    <hr />

    {% if blogs|length == 0 %}
    <p><h2>No Entries Yet</h2></p>
    


    {% else %}

        {% for blog in blogs %}
        
            <h2><a href ="/blog?id={{blog.id}}">{{blog.title}}
            </a></h2>
            <p>{{blog.date}}<br>
                <p class='entry'>{{blog.body}}</class>
                    
            <hr />
     
        {% endfor %}

    {% endif %}


{% endblock %}