{% extends "base.html" %}


{% block content %}
<h1>New Blog Entry:</h1>
    <form action='/newpost' method="POST">
        <label class='input'>
            Title:<br>
            <input type="text" name="title" /><span class='error'>{{title_error}}</span>
        </label>
        <br>
        <label class='input'>
            Entry:<br>
            <textarea rows="5" cols="50" name="body"></textarea><span class='error'>{{entry_error}}</span>
        </label>
        <br>
        <input type="submit" value="Add Entry" />
    </form>

    <hr />

    




{% endblock %}