{% extends "base.html" %}


{% block content %}
<h1>New Post:</h1>
    <form action='/blog' method="POST">
        <label>
            Title:
            <input type="text" name="title" /><span class='error'>{{title_error}}</span>
        </label>
        <br>
        <label>
            Entry:
            <input type="text" name="body" /><span class='error'>{{entry_error}}</span>
        </label>
        <br>
        <input type="submit" value="Add Entry" />
    </form>

    <hr />

    




{% endblock %}