
h1 {
    text-align: center; 
    font-family: "Lucida Sans", "Verdana", "Arial", sans-serif;
}

h2 {
    text-align: center; 
    font-family: "Lucida Sans", "Verdana", "Arial", sans-serif;
}

.error {
    color: red;
    font-family: "Lucida Sans", "Verdana", "Arial", sans-serif;
    font-variant: small-caps;
}

.input{
    align-self: center;
    text-align: center;
    font-variant: small-caps;
    font-family: "Verdana", "Arial", sans-serif;
}

p.entry{
    align: center; 
    font-family: "Lucida Sans", "Verdana", "Arial", sans-serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: lightcyan; 
    width: 800px;
    align: center;
    margin-left: auto;
    margin-right: auto; 
}

.links {
    color: darkorchid;
    font-family: "Lucida Sans", "Verdana", "Arial", sans-serif;
    font-variant: small-caps;
}

p.date{
    font-family: "Lucida Sans", "Verdana", "Arial", sans-serif;
    font-style: italic;
    text-align: center;
}